extends template.pug

block content
    main.main
        h1.title Authorization complete
        div
            p Authorization code: #{code}

            p
                a(href="/private") Try again
