doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet" href="index.css")
		block style
	body
		block content
		div.footer
			div.footer__copyright Copyright &#169; 2021 LoginID inc. All rights reserved.
			b.footer__policy Privacy Policy | Terms of Use
