html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.center {
  text-align: center;
}

.buttons button:last-child {
  margin-left: 1em;
}

.title {
  position: fixed;
  text-align: center;
  top: 0;
}

.group {
  display: flex;
  flex-direction: column;
}

.group button {
  display: block;
  margin: 0 auto;
}

.main form input[type="text"] {
  width: 360px;
}

.main code {
  width: 360px;
}

.main pre {
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 360px;
}

.limit {
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 360px;
}

.align-self-center {
  align-self: center;
}

.hidden {
  display: none;
}
